<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
     <!--inject:css-->
	 <!--endinject-->
</head>
<body>
	<!-- 头部 -->
    <div  style="margin:15px 0px;background: #fff;top:0px;">
        <img alt="大朴网" src="/images/dapu_homelogo.png" width="390" height="58" border="0" style="margin-left:55px;">
	</div>
	<!-- 内容 -->
    <div style="height:300px;background:#efefef;padding-top:10px;">
			<div class="container app">
					<div class="panel panel-info">
						<div class="panel-heading">
							购物车
							<a href="/goods/goods.html" style="color: #fff">商品列表</a>
						</div>
						<div class="panel-body">
							
							<div class="alert alert-danger message"></div>
							
							<div class="car-content">
			
								<p>
									<input type="checkbox" class="all-check" checked> 全选
								</p>
			
								<ul class="list-group good-list">
									<li class="list-group-item clearfix good-item">
										<a href="#" class="thumbnail good-img pull-left">
											<img class="img" src="/images/lieb1.jpg" alt="...">
										</a>
										<div class="info pull-left">
											<h3>这是一个商品</h3>
											<p>单价：<span class="price">12</span>元</p>
										</div>
										<div class="controls pull-right">
											<p class="btns">
												<button type="button" class="btn btn-default btn-xs">-</button>
												<input type="text" class="form-control">
												<button type="button" class="btn btn-default btn-xs">+</button>
											</p>
											<button class="btn btn-info delete-btn">删除</button>
										</div>
									</li>
								</ul>
								
								<hr/>
								<p style="margin-top: 10px;">
									<input type="checkbox" class="all-check" checked> 全选
			
									<button class="btn btn-danger delete-check">删除所选商品</button>
								</p>
			
								<div class="div all clearfix">
									<h4 class="pull-left">
											已选择数量：<span class="label label-primary all-num">0</span>件 &nbsp;&nbsp;&nbsp;&nbsp;
											总价：<span class="label label-primary all-price">0</span>元 &nbsp;&nbsp;&nbsp;&nbsp;
									</h4>
									<button class="btn btn-info pull-right">去支付</button>
								</div>
							</div>
						</div>
					</div>
				</div>
    </div>
            <!-- 尾部 -->
            <div class="footer">
				<div class="container">
						<div class="site-footer-context">
								<ul class="user-ui-ul clearfix" style="display:inline-block;">
								  <li><a title="关于大朴" href="javascript:;" target="_blank" rel="nofollow">关于大朴</a><span>|</span></li>
								  <li><a title="帮助中心" href="javascript:;" target="_blank" rel="nofollow">帮助中心</a><span>|</span></li>
								  <li><a title="联系我们" href="javascript:;" target="_blank" rel="nofollow">联系我们</a><span>|</span></li>
								  <li><a title="手机大朴" href="javascript:;" target="_blank" type="url" rel="nofollow">手机大朴</a></li>
								</ul>
							</div>
						<div class="site-footer-context">
								<p class="user-ui-copyright">Copyright © 2013-2018 dapu.com 北京大朴至向家居设计有限公司  京ICP备12027522号 京ICP证130030号</p>
								<div style="width:300px;margin:0 auto; padding:5px 0;">
									 <a target="_blank" href="javascript:;" style="display:inline-block;text-decoration:none;height:20px;line-height:20px;"><img src="/images/dapu_icon-police.png" style="float:left;"/><p style="float:left;height:20px;line-height:20px;margin: 0px 0px 0px 5px; color:#939393;">京公网安备 11010502030202号</p></a>
								 </div>
							</div>
							
				</div>
		</div> 
</body>
</html>
 <!--inject:js-->
 <!--endinject-->