<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
     <!--inject:css-->
	 <!--endinject-->
</head>
<body>
    	<!-- 头部 -->
        <div class="header" >
            <div style="height:120px;">
                <!-- 导航 -->
            <div class="container" id="jid">
                <!-- logo和登录注册 -->
                <div class="header-bar">
                    <div class="dp_logo">
                        <img alt="大朴网" src="/images/dapu_homelogo.png" width="390" height="58" border="0">
                    </div>
                    <div class="rigth-bar">
                        <div class="search-bar">
                            <div class="dp-2013090511" style="z-index:15;width:210px">
                                <form action="/search-result.html" method="POST" class="SearchBar searchBar_">
                                <input style="width:200px;" type="text" class="search-key" placeholder="想要买什么？" id="searchkey" >
                                     <input type="submit" class="search-btn" value="" >
                                </form>
    
                            </div>
                        </div>
                       <div class="car-bar" >
                           <div class="minicart_5542 minicart_box">
                               <div class="minicart_title">
                                   <a class="car-container" style="text-decoration:none" href="#">
                                  <span class="cart-handle" style="height: 25px;color: rgba(255,255, 255);background-image:url(/images/dapu_minicart.png);position:relative;width: 29px; ">
                                     <span class="cart-number">0</span>
                                  </span>
                                  </a>
                               </div>
                           </div>
                       </div>   
                      
                       <div class="login-bar">
                           <div class="foobar_5544">
                               <div class="login-info-0905" style="background-color: rgb(177, 84,79);color: #ffffff;">
                                    <span class="loginBar ie-bug" id="loginBar_5544" style="display: inline;">
                                       <a href="/list/list.html">登录</a>
                                       <span class="break" style="margin-left:5px;margin-right: 5px;">|</span>
                                       <a href="/register/register.html">注册</a>
                                    </span> 
                              </div>
                           </div>
                       </div>
                    </div>
                </div>
                <!-- 分类导航 -->
                <div class="container">
                    <div class="sysemenu_bar">
                        <div class="user-ui-header-box">
                            <ul class="clearfix">
                                <li class="index-nav-one-box nav-one-box">
                                    <a class="nav-one" href="/index/index.html">
                                        <span class="title">首页</span>
                                        <span class="separator"></span>
                                    </a>
                                </li>
                                <li class="nav-one-box">
                                        <a class="nav-one" href="#">
                                            <span class="title">大朴优选</span>
                                            <span class="separator"></span>
                                        </a>
                                        <div class="dh-show-tab tab-left dh-tab-1" style="display:none;">
                                                <div class="nav-two-box">
                                                      <a class="nav-two" href="javascript:;"  target="_blank" >特色美食</a>
                                           <div class="nav-three-box clearfix">
                                                                   <a class="nav-three" href="javascript:;" target="_blank" >风干美食</a>
                                                              </div>
                                                    </div>
                                       </div>
                                    </li>
                                <li class="nav-one-box">
                                            <a class="nav-one" href="#">
                                                <span class="title">卧室用品</span>
                                                <span class="separator"></span>
                                            </a>
                                            <div style="display:none;" class="dh-show-tab tab-left dh-tab-1">
                                                    <div class="nav-two-box">
                                                          <a class="nav-two" href="javascript:;"  target="_blank" >床品件套</a>
                                               <div class="nav-three-box clearfix">
                                                                       <a class="nav-three" href="javascript:;" target="_blank" >花鸟件套</a>
                                                                          <a class="nav-three" href="javascript:;" target="_blank" >婚庆件套</a>
                                                                          <a class="nav-three" href="javascript:;" target="_blank" >四件套/三件套</a>
                                                                          <a class="nav-three" href="javascript:;" target="_blank" >床单/床笠</a>
                                                                          <a class="nav-three" href="javascript:;" target="_blank" >枕巾/枕套</a>
                                                                          <a class="nav-three" href="javascript:;" target="_blank" >被罩</a>
                                                                          <a class="nav-three" href="javascript:;" target="_blank" >靠垫/靠垫套</a>
                                                                  </div>
                                                          <a class="nav-two" href="javascript:;"  target="_blank" >被子枕头</a>
                                               <div class="nav-three-box clearfix">
                                                                       <a class="nav-three" href="javascript:;" target="_blank" >被芯</a>
                                                                          <a class="nav-three" href="javascript:;" target="_blank" >枕头</a>
                                                                          <a class="nav-three" href="javascript:;" target="_blank" >床垫</a>
                                                                          <a class="nav-three" href="javascript:;" target="_blank" >夏凉被/毯子</a>
                                                                  </div>
                                                          <a class="nav-two" href="javascript:;"  target="_blank" >夏凉床品</a>
                                               <div class="nav-three-box clearfix">
                                                                       <a class="nav-three" href="javascript:;" target="_blank" >老粗布系列</a>
                                                                          <a class="nav-three" href="javascript:;" target="_blank" >亚麻系列</a>
                                                                          <a class="nav-three" href="javascript:;" target="_blank" >蔺草席</a>
                                                                          <a class="nav-three" href="javascript:;" target="_blank" >蚊帐</a>
                                                                  </div>
                                                          <a class="nav-two" href="javascript:;"  target="_blank" >智能家居</a>
                                               <div class="nav-three-box clearfix">
                                                                       <a class="nav-three" href="javascript:;" target="_blank" >止鼾枕</a>
                                                                  </div>
                                                        </div>
                                           </div>
                                    </li>
                                <li class="nav-one-box">
                                            <a class="nav-one" href="/goods/goods.html">
                                                <span class="title">冠军毛巾</span>
                                                <span class="separator"></span>
                                            </a>
                                            <div style="display:none;" class="dh-show-tab tab-left dh-tab-1">
                                                    <div class="nav-two-box">
                                                          <a class="nav-two" href="javascript:;"  target="_blank" >毛巾浴巾</a>
                                               <div class="nav-three-box clearfix">
                                                                       <a class="nav-three" href="javascript:;" target="_blank" >毛巾</a>
                                                                          <a class="nav-three" href="javascript:;" target="_blank" >方巾</a>
                                                                          <a class="nav-three" href="javascript:;" target="_blank" >浴巾/浴袍</a>
                                                                  </div>
                                                          <a class="nav-two" href="javascript:;"  target="_blank" >地巾地垫</a>
                                               <div class="nav-three-box clearfix">
                                                                       <a class="nav-three" href="javascript:;" target="_blank" >地巾地垫</a>
                                                                  </div>
                                                        </div>
                                           </div>
                                        </li>
                                <li class="nav-one-box">
                                                <a class="nav-one" href="#">
                                                    <span class="title">袜子拖鞋</span>
                                                    <span class="separator"></span>
                                                </a>
                                                <div style="display:none;" class="dh-show-tab tab-left dh-tab-1">
                                                        <div class="nav-two-box">
                                                              <a class="nav-two" href="javascript:;"  target="_blank" >女士袜子</a>
                                                   <div class="nav-three-box clearfix">
                                                                   </div>
                                                              <a class="nav-two" href="javascript:;"  target="_blank" >男士袜子</a>
                                                   <div class="nav-three-box clearfix">
                                                                   </div>
                                                              <a class="nav-two" href="javascript:;"  target="_blank" >家居拖鞋</a>
                                                   <div class="nav-three-box clearfix">
                                                                   </div>
                                                              <a class="nav-two" href="javascript:;"  target="_blank" >浴室拖鞋</a>
                                                   <div class="nav-three-box clearfix">
                                                                   </div>
                                                              <a class="nav-two" href="javascript:;"  target="_blank" >儿童拖鞋</a>
                                                   <div class="nav-three-box clearfix">
                                                                   </div>
                                                            </div>
                                               </div>
                                        </li>
                                <li class="nav-one-box">
                                                <a class="nav-one" href="#">
                                                    <span class="title">服饰</span>
                                                    <span class="separator"></span>
                                                </a>
                                                <div style="display:none;" class="dh-show-tab tab-left dh-tab-1">
                                                        <div class="nav-two-box">
                                                              <a class="nav-two" href="javascript:;"  target="_blank" >女装</a>
                                                   <div class="nav-three-box clearfix">
                                                                           <a class="nav-three" href="javascript:;" target="_blank" >家居服</a>
                                                                              <a class="nav-three" href="javascript:;" target="_blank" >T恤/背心</a>
                                                                              <a class="nav-three" href="javascript:;" target="_blank" >裤子</a>
                                                                              <a class="nav-three" href="javascript:;" target="_blank" >裙子</a>
                                                                              <a class="nav-three" href="javascript:;" target="_blank" >衬衫</a>
                                                                              <a class="nav-three" href="javascript:;" target="_blank" >卫衣/毛衫</a>
                                                                              <a class="nav-three" href="javascript:;" target="_blank" >保暖内衣</a>
                                                                      </div>
                                                              <a class="nav-two" href="javascript:;"  target="_blank" >男装</a>
                                                   <div class="nav-three-box clearfix">
                                                                           <a class="nav-three" href="javascript:;" target="_blank" >家居服</a>
                                                                              <a class="nav-three" href="javascript:;" target="_blank" >T恤</a>
                                                                              <a class="nav-three" href="javascript:;" target="_blank" >卫衣/毛衫</a>
                                                                              <a class="nav-three" href="javascript:;" target="_blank" >衬衫</a>
                                                                              <a class="nav-three" href="javascript:;" target="_blank" >裤子</a>
                                                                              <a class="nav-three" href="javascript:;" target="_blank" >保暖内衣</a>
                                                                      </div>
                                                            </div>
                                               </div>
                                       </li>
                                <li class="nav-one-box">
                                  <a class="nav-one" href="#">
                                    <span class="title">清洁日用</span>
                                    <span class="separator"></span>
                                    </a>
                                    <div style="display:none;" class="dh-show-tab tab-left dh-tab-1">
                                            <div class="nav-two-box">
                                                  <a class="nav-two" href="javascript:;"  target="_blank" >纸巾</a>
                                       <div class="nav-three-box clearfix">
                                                       </div>
                                                  <a class="nav-two" href="javascript:;"  target="_blank" >棉签</a>
                                       <div class="nav-three-box clearfix">
                                                       </div>
                                                  <a class="nav-two" href="javascript:;"  target="_blank" >日常用品</a>
                                       <div class="nav-three-box clearfix">
                                                       </div>
                                                  <a class="nav-two" href="javascript:;"  target="_blank" >洗衣液</a>
                                       <div class="nav-three-box clearfix">
                                                       </div>
                                                </div>
                                   </div>
                                 </li>
                                <!-- </li> -->
                                <li class="nav-one-box">
                                        <a class="nav-one" href="#">
                                        <span class="title">贴身衣物</span>
                                        <span class="separator"></span>
                                        </a>
                                        <div style="display:none;" class="dh-show-tab tab-left dh-tab-1">
                                                <div class="nav-two-box">
                                                      <a class="nav-two" href="javascript:;"  target="_blank" >女士内衣</a>
                                           <div class="nav-three-box clearfix">
                                                                   <a class="nav-three" href="javascript:;" target="_blank" >内裤</a>
                                                                      <a class="nav-three" href="javascript:;" target="_blank" >文胸</a>
                                                              </div>
                                                      <a class="nav-two" href="javascript:;"  target="_blank" >男士内衣</a>
                                           <div class="nav-three-box clearfix">
                                                                   <a class="nav-three" href="javascript:;" target="_blank" >内裤</a>
                                                              </div>
                                                    </div>
                                       </div>
                                </li>
                                <li class="nav-one-box">
                                        <a class="nav-one" href="#">
                                        <span class="title">婴童用品</span>
                                        <span class="separator"></span>
                                        </a>
                                        <div style="display:none;" class="dh-show-tab tab-left dh-tab-1">
                                                <div class="nav-two-box">
                                                      <a class="nav-two" href="javascript:;"  target="_blank" >婴童床品</a>
                                           <div class="nav-three-box clearfix">
                                                                   <a class="nav-three" href="javascript:;" target="_blank" >床品件套</a>
                                                                      <a class="nav-three" href="javascript:;" target="_blank" >婴童凉席</a>
                                                                      <a class="nav-three" href="javascript:;" target="_blank" >抱被/毯子/睡袋</a>
                                                                      <a class="nav-three" href="javascript:;" target="_blank" >婴童枕头</a>
                                                                      <a class="nav-three" href="javascript:;" target="_blank" >尿布/隔尿垫</a>
                                                              </div>
                                                      <a class="nav-two" href="javascript:;"  target="_blank" >婴童鞋子</a>
                                           <div class="nav-three-box clearfix">
                                                                   <a class="nav-three" href="javascript:;" target="_blank" >婴童家居鞋</a>
                                                              </div>
                                                      <a class="nav-two" href="javascript:;"  target="_blank" >婴童洗浴</a>
                                           <div class="nav-three-box clearfix">
                                                                   <a class="nav-three" href="javascript:;" target="_blank" >浴巾/浴袍</a>
                                                                      <a class="nav-three" href="javascript:;" target="_blank" >儿童方巾</a>
                                                                      <a class="nav-three" href="javascript:;" target="_blank" >儿童毛巾</a>
                                                              </div>
                                                      <a class="nav-two" href="javascript:;"  target="_blank" >婴童衣物</a>
                                           <div class="nav-three-box clearfix">
                                                                   <a class="nav-three" href="javascript:;" target="_blank" >上衣</a>
                                                                      <a class="nav-three" href="javascript:;" target="_blank" >裤子</a>
                                                                      <a class="nav-three" href="javascript:;" target="_blank" >内裤</a>
                                                                      <a class="nav-three" href="javascript:;" target="_blank" >袜子</a>
                                                                      <a class="nav-three" href="javascript:;" target="_blank" >新生儿礼盒</a>
                                                                      <a class="nav-three" href="javascript:;" target="_blank" >连体衣/套装</a>
                                                              </div>
                                                      <a class="nav-two" href="javascript:;"  target="_blank" >亲子系列</a>
                                           <div class="nav-three-box clearfix">
                                                                   <a class="nav-three" href="javascript:;" target="_blank" >亲子灯</a>
                                                              </div>
                                                    </div>
                                       </div>
                                </li>
                                <li class="nav-one-box">
                                    <a class="nav-one" href="#">
                                        <span class="title">包袋/周边</span>
                                        <span class="separator"></span>
                                    </a>
                                    <div style="display:none;" class="dh-show-tab tab-left dh-tab-1">
                                            <div class="nav-two-box">
                                                  <a class="nav-two" href="javascript:;"  target="_blank" >零钱包</a>
                                       <div class="nav-three-box clearfix">
                                                       </div>
                                                  <a class="nav-two" href="javascript:;"  target="_blank" >购物包</a>
                                       <div class="nav-three-box clearfix">
                                                               <a class="nav-three" href="javascript:;" target="_blank" >亚麻包/亚麻小件</a>
                                                          </div>
                                                  <a class="nav-two" href="javascript:;"  target="_blank" >杂物包</a>
                                       <div class="nav-three-box clearfix">
                                                       </div>
                                                  <a class="nav-two" href="javascript:;"  target="_blank" >棉仔周边</a>
                                       <div class="nav-three-box clearfix">
                                                               <a class="nav-three" href="javascript:;" target="_blank" >棉仔公仔</a>
                                                                  <a class="nav-three" href="javascript:;" target="_blank" >棉仔衍生品</a>
                                                          </div>
                                                </div>
                                   </div>
                                </li>
                                <li class="nav-one-box">
                                    <a class="nav-one" href="#" title="请点击子分类">
                                        <span class="title">渠道客户</span>
                                        <span class="separator"></span>
                                    </a>
                                    <div style="display:none;" class="dh-show-tab tab-left dh-tab-1">
                                            <div class="nav-two-box">
                                                  <a class="nav-two" href="javascript:;"  target="_blank" >礼品卡</a>
                                       <div class="nav-three-box clearfix">
                                                       </div>
                                                  <a class="nav-two" href="javascript:;"  target="_blank" >企业客户</a>
                                       <div class="nav-three-box clearfix">
                                                       </div>
                                                  <a class="nav-two" href="javascript:;"  target="_blank" >线下加盟</a>
                                       <div class="nav-three-box clearfix">
                                                       </div>
                                                </div>
                                   </div>
                                 </li>
                                <li class="nav-one-box">
                                    <a class="nav-one" href="#" title="请点击子分类">
                                        <span class="title">关于大朴</span>
                                            </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="zhezhao"></div>
            </div>
            </div>
        </div>
        <!-- 内容 -->
        <div class="crumb" style="height:20px;overflow:hidden;">
              
                <span><a href="/index/index.html" alt="" style="color: #615146;" title="">首页</a>&nbsp;&gt;</span>
             
                <span><a href="javascripts:;" alt="" style="color: #615146;" title="">冠军毛巾</a>&nbsp;&gt;</span>
             
                <span><a href="javascripts:;" alt="" style="color: #615146;" title="">毛巾浴巾</a>&nbsp;&gt;</span>
             
                <span><a href="javascripts:;" alt="" style="color: #615146;" title="">毛巾</a>&nbsp;&gt;</span>
             
                <em id="last_name">织羽 花鸟印花割绒面巾</em>
              
            </div>
        <div class="content">
            <div class="content-left">
                    <div id="box">
                            <div id="small" class="small">
                                 <!-- <img src="/images/niaoshu2.jpg" alt="" id="mm"/> 
                                 <img src="/images/niao2.jpg" alt=""/> 
                                 <img src="/images/huas2.jpg" alt=""/> 
                                 <img src="/images/hn2.jpg" alt=""/>
                                 <img src="/images/big2.jpg" alt=""/>
                                 <img src="/images/xijie2.jpg" alt=""/> -->

                                 <div id="mask" style="display: block;"></div>   
                            </div>
                            <div id="big">
                                <!-- <img class="big" src="/images/niaoshu3.jpg" class="bigImage"/>
                                <img src="/images/niao3.jpg" class="bigImage"/>
                                <img src="/images/huas3.jpg" class="bigImage"/>
                                <img src="/images/hn3.jpg" class="bigImage"/>
                                <img src="/images/big3.jpg" class="bigImage"/>
                                <img src="/images/xijie3.jpg" class="bigImage"/> -->

                            </div>
                            <ul id="bottom" class="bottom">
                                <!-- <li><img src="/images/niaoshu1.jpg" alt=""/></li>
                                <li><img src="/images/niao1.jpg" alt=""/></li>
                                <li><img src="/images/huas1.jpg" alt=""/></li>
                                <li><img src="/images/hn1.jpg" alt=""/></li>
                                <li><img src="/images/big1.jpg" alt=""/></li>
                                <li><img src="/images/xijie1.jpg" alt=""/></li> -->

                            </ul>
                        </div>
            </div>
            <div class="content-right">
                <!-- <h1 class="goods-name">织羽 花鸟印花割绒面巾</h1>
                <div class="product-id clearfix">
                        <span>商品编码：</span>
                        <span id="goodsBn" updatespec="text_bn">1010100856</span>
                </div>
                <span>￥ 49</span>
                <div class="goods-price-box clearfix" style="margin-bottom:5px;">
                        <span style="display:inline-block;width:50px;text-align:center;font-size: 12px;color:#ffffff;background:#7F5B42;padding:2px 5px;font-weight: bold;border-radius:3px 3px;">会员价</span>
                        <span class="mlvprice" style="color:#7F5B42;padding-left:10px;font-weight: bold;">￥47</span>
                        <a style="color:#ff0000;text-decoration: none;" target="_blank" href="http://www.dapu.com/index.php/article-bangzhuzhongxin_tesesuwu-24.html">如何成为会员？</a>
                </div>
                <div id="promotion_show" class="clearfix" style="margin-bottom: 5px;">
                        <span style="display:inline-block;width:50px;text-align:center;font-size: 12px;color:#ffffff;background:#b1544f;padding:2px 5px;font-weight: bold;border-radius:3px 3px;">促销</span>
                          <span id="promotion_msg" style="padding-left:10px;"></span>
                </div>
                <div class="score-wrap">
                        <ul>
                            <li>
                                <p class="score-num">14</p>
                                <p class="score-name">销量</p>
                            </li>
                            <li>
                                <p class="score-num">1</p>
                                <p class="score-name">用户评论数</p>
                            </li>
                            <li>
                                <p class="score-num">98</p>
                                <p class="score-name">评论送积分</p>
                            </li>
                        </ul>
                </div>
                <div class="tagline">
                    1、原料：精选新疆长绒棉原料，天然健康；棉花纤维柔长，洁白光泽；
                    <br>2、纱支：采用40支合股纱工艺，毛圈面吸水性好；正面精致割绒，手感好；
                    <br>3、花鸟印花设计：以不同的花鸟元素进行活性印花，传达不同的意境；
                </div>
                <div id="goods-spec" class="goods-spec">
                        <div class="spec-item specItem">
                          <label><span><em>颜色：</em></span></label>
                          <div class="rightdiv1">
                              <ul>
                                      <li>
                              <a href="javascripts:;" ><span style="background-image:url(/images/goodspecbg.gif)"><nobr>灵舞</nobr></span>
                                          <i title="点击取消选择">&nbsp;</i>
                              </a>
                              </li>
                                      <li>
                              <a href="javascripts:;"><span style="background-image:url(/images/goodspecbg.gif)"><nobr>落春</nobr></span>
                                          <i title="点击取消选择">&nbsp;</i>
                              </a>
                              </li>
                                      <li>
                              <a href="javascripts:;"> <span style="background-image:url(/images/goodspecbg.gif)"><nobr>曦</nobr></span>
                                          <i title="点击取消选择">&nbsp;</i>
                              </a>
                              </li>
                                      <li>
                              <a href="javascripts:;"> <span style="background-image:url(/images/goodspecbg.gif)"><nobr>灵舞/落春/曦 三条装</nobr></span>
                                          <i title="点击取消选择">&nbsp;</i>
                              </a>
                              </li>
                                    </ul>
                          </div>
                        </div>
                          
                 
                 </div>
                <div class="buyinfo clearfix">
                                <label>数量：</label>
                                <div style="width:120px;" class="ctn Numinput">
                                <ul style="display:inline;">
                                <li style="display:inline; padding-top:3px;"><span style="background-image:url(/images/jian.jpg); height:20px; line-height:20px;" class="btnReduce decrease numadjust" onclick="pd_count()"></span></li>
                                <li style="display:inline; height:20px; line-height:20px;"><input type="text" numtype="int" id="pro_count" name="goods[num]" value="1" size="5" onblur="pd_count()" onfocus="pd_count()" onchange="pd_count()"></li>
                                <li style="display:inline; padding-top:4px; padding-left:8px;"><span style="background-image:url(/images/jia.jpg); height:20px; line-height:20px;" class="btnAdd increase numadjust" onmousemove="pd_count()" onmousedown="pd_count()" onclick="pd_count()"></span></li>
                                </ul>
                               </div>
                </div>
                <div class="hightline">
                    <div style="clear:both; height:10px; overflow:hidden; border-top:1px #e6e6e6 solid; margin-left:10px;margin-top:5px; margin-right:20px;"></div>
                    <div class="btnBar clearfix" style="visibility: visible;">
                            <div class="clown flt btnwrap">
                             <input class="actbtn btn-buy" value="加入购物车" type="submit">
                             </div>
                     </div>
                </div> -->
           </div>

        </div>
        <!-- 商品详情 -->
        <div class="product-info-box clearfix">
         <div class="tab-left clearfix">
                    <!-- 相关分类 -->
                    <div class="cat_list border-dcdcdc">
                        <h3>相关分类</h3>
                        <ul class="clearfix">
                        <li><a href="Javascript:;" target="_blank">毛巾浴巾</a></li>
                        <li><a href="Javascript:;" target="_blank">地巾地垫</a></li>
                        </ul>
                  </div>
                    <!-- 热销商品 -->
                    <div class="column_right border-dcdcdc" id="mainTab">
            <h3>热销商品</h3>
                <div class="box_c">
                <a href="Javascript:;" target="_blank"><img class="pic_c" src="/images/cyi.jpg"> </a>
                <h4><a href="Javascript:;" target="_blank">精梳纯棉缎纹磨毛纯色四件套</a></h4>
                <p class="p_text"><strong class="price">￥569</strong></p>
            </div>
                <div class="box_c">
                <a href="Javascript:;" target="_blank"><img class="pic_c" src="/images/cyi.jpg"> </a>
                <h4><a href="Javascript:;" target="_blank">草木染花色浴巾</a></h4>
                <p class="p_text"><strong class="price">￥199</strong></p>
            </div>
                <div class="box_c">
                <a href="Javascript:;" target="_blank"><img class="pic_c" src="/images/cyi.jpg"> </a>
                <h4><a href="Javascript:;" target="_blank">“简爱时光”女士纯棉翻领长袖长裤套装</a></h4>
                <p class="p_text"><strong class="price">￥399</strong></p>
            </div>
                <div class="box_c">
                <a href="Javascript:;" target="_blank"><img class="pic_c" src="/images/cyi.jpg"> </a>
                <h4><a href="Javascript:;" target="_blank">男士菱形羊毛袜三双装</a></h4>
                <p class="p_text"><strong class="price">￥59</strong></p>
            </div>
                <div class="box_c">
                <a href="Javascript:;" target="_blank"><img class="pic_c" src="/images/cyi.jpg"> </a>
                <h4><a href="Javascript:;" target="_blank">“简爱时光”男士纯棉翻领长袖长裤套装</a></h4>
                <p class="p_text"><strong class="price">￥399</strong></p>
            </div>
                   </div>
         </div>   
                 <div style=" width: 1000px;float: right;position: relative;margin-bottom: 20px">
                    <p class="xx">商品详情</p>
                     <div style="border:1px solid #dcdcdc;padding-top: 15px;">
                      <div style="padding-left: 25px; padding-top: 13px; padding-bottom: 20px;">
                         <table class="table" style="width: 100%; line-height: 30px;" border="0">
                          <tbody>
                                <tr class="firstRow"><td width="80"><p><strong>产品名称</strong></p></td><td style="word-break: break-all;">织羽 花鸟印花割绒面巾</td></tr>
                                <tr><td><p><strong>产品工艺</strong></p></td><td style="word-break: break-all;"><p>40支新疆长绒棉合股纱线，精致花鸟割绒印花设计</p></td></tr>
                                <tr><td><p><strong>产品尺寸</strong></p></td><td style="word-break: break-all;"><p>34cm*65cm</p></td></tr>
                                <tr><td style="word-break: break-all;"><p><strong>执行标准</strong></p></td><td style="word-break: break-all;">GB/T 22864-2009&nbsp;</td></tr>
                                <tr><td style="word-break: break-all;"><p><strong>安全类别</strong></p></td><td style="word-break: break-all;">GB 18401-2010 A类</td></tr>
                                <tr><td style="word-break: break-all;"><p><strong>产品等级</strong></p></td><td style="word-break: break-all;">一等品</td></tr>
                                <tr><td><p><strong>包装规格</strong></p></td><td style="word-break: break-all;">22cm*28cm牛皮纸袋</td></tr>
                          </tbody>
                          </table> 
                         <p><img src="/images/x1.jpg"></p>    
                         <p><img src="/images/x2.jpg"></p>   
                         <p><img src="/images/x3.jpg"></p>   
                         <p><img src="/images/x4.jpg"></p>               
                         <p><img src="/images/x5.jpg"></p>   
                         <p><img src="/images/x8.jpg"></p>   
                         <p><img src="/images/x9.jpg"></p>   
                         <p><img src="/images/x10.jpg"></p>   
                         <p><img src="/images/x11.jpg"></p>   

                      </div>
                    </div>
                 </div>
        </div>
       <!-- 尾部 -->
        <div class="footer">
				<div class="container">
						<div class="site-footer-context">
								<ul class="user-ui-ul clearfix" style="display:inline-block;">
								  <li><a title="关于大朴" href="javascript:;" target="_blank" rel="nofollow">关于大朴</a><span>|</span></li>
								  <li><a title="帮助中心" href="javascript:;" target="_blank" rel="nofollow">帮助中心</a><span>|</span></li>
								  <li><a title="联系我们" href="javascript:;" target="_blank" rel="nofollow">联系我们</a><span>|</span></li>
								  <li><a title="手机大朴" href="javascript:;" target="_blank" type="url" rel="nofollow">手机大朴</a></li>
								</ul>
							</div>
						<div class="site-footer-context">
								<p class="user-ui-copyright">Copyright © 2013-2018 dapu.com 北京大朴至向家居设计有限公司  京ICP备12027522号 京ICP证130030号</p>
								<div style="width:300px;margin:0 auto; padding:5px 0;">
									 <a target="_blank" href="javascript:;" style="display:inline-block;text-decoration:none;height:20px;line-height:20px;"><img src="/images/dapu_icon-police.png" style="float:left;"/><p style="float:left;height:20px;line-height:20px;margin: 0px 0px 0px 5px; color:#939393;">京公网安备 11010502030202号</p></a>
								 </div>
							</div>
							
				</div>
		</div> 
</body>
</html>
<script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>

        <!--inject:js-->
		<!--endinject-->